<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <!--
    <identity impersonate="true" userName="dfw\USERNAME" password="PASSWORD" />
    -->
    <compilation debug="true"/>
    <httpRuntime executionTimeout="3600" maxRequestLength="1002400" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"/>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="DetailedLocalOnly"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4000000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>